@font-face {
    font-family: CronosPro;
    font-style: normal;
    font-weight: normal;
    src: url(font/cronospro-regular-webfont.woff) format("woff");
}
@font-face {
    font-family: CronosPro;
    font-style: italic;
    font-weight: normal;
    src: url(font/cronospro-italic-webfont.woff) format("woff");
}
@font-face {
    font-family: CronosPro;
    font-style: normal;
    font-weight: bold;
    src: url(font/cronospro-semibold-webfont.woff) format("woff");
}
@font-face {
    font-family: CronosPro;
    font-style: italic;
    font-weight: bold;
    src: url(font/cronospro-semibolditalic-webfont.woff) format("woff");
}
* {
    font-family: CronosPro;
}
body {
  background-color: #555;
  color: #cacaca;
}
#menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
    background-color: #444;
    min-width: 330px;
    padding-left: 10px;
}
persos > label { margin-left: 16px; }
.a { text-decoration: underline; }
.l { color: #00ff00; }
.d { opacity: .4; text-decoration: line-through; }
.d.a { text-decoration: underline line-through; }
#content { margin-left: 360px; }
.string { color: #2ecc70; }
.number { color: #ff6100; }
.boolean { color: #ff99ff; }
.null { color: #aaa; }
.key { color: #fff; }
#keyList {
    height: 95px;
    width: 724px;
    background-color: #ccc;
    border: none;
    border-radius: 8px;
}
#saveKeys,
#delKeys {
    cursor: pointer;
    border: none;
    border-radius: 8px 0 0 8px;
    padding: 1px 1px 1px 11px;
    margin: 4px -2px 0 -2px;
    background-color: #ccc;
}
#delKeys {
    border-radius: 0 8px 8px 0;
    padding: 1px 11px 1px 1px;
}
.hidden {
    display: none;
}
